$section-header-mb: 18px;
$section-padding-h: 18px;
$section-padding-v: 12px;

.card-section {
    padding: $section-padding-v $section-padding-h;

    &.collapsible {
        overflow: hidden;
        transition: height 0.15s linear;
    }
}

.card-section-header {
    color: #848484;
    margin: 0 0 $section-header-mb 0;
}