@import "../mixins";

.KeyValue p {
	margin: 0.6em 0;
}

.KeyValueImage {
	position: relative;
	top: 2px;
	width: 24px;
	height: 24px;
	border-radius: 5px;
}

.KeyValueText {
	white-space: pre-wrap;
	word-break: break-word;
}

.KeyValueTopLabel,
.KeyValueBottomLabel,
.SelectionInputTopLabel {
	display: block;
	@include muted-text;
}

.KeyValueTopLabel {
	margin-bottom: 4px;
}

.KeyValueBottomLabel {
	margin-top: 4px;
}