@import "./menu.scss";

$overlay-types: "dark", "light";

.overlay {
    position: absolute;
    top: $menu-height;
	width: 100vw;
}

@each $type in $overlay-types {
    .overlay-#{$type} {
        opacity: 0.5;
    }
}