$btn-filled-br: 2px;

.TextButton {
    border: none;
    display: block;

    font: {
        weight: bold;
    }

    text-transform: uppercase;

    &:focus {
        outline: none;
    }
}

.text-btn--filled {
    border: {
        radius: $btn-filled-br;
    }

    color: white;
    padding: 8px;
}

.text-btn--text {
    text-align: center;
    background: none;
}