@import "../flex";
@import "../mixins";

$toggler-icon-bg--hover: rgba(132, 132, 132, 0.1);
$toggler-icon-size: 32px;

.card-section-toggler {
    display: flex;
    padding: 12px;
    @include flex--center;
}

.card-section-toggler-icon {
    @include centered-text;

    font: {
        weight: bold;
    }

    height: $toggler-icon-size;
    line-height: 2.5;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
    width: $toggler-icon-size;

    &:hover {
        background-color: $toggler-icon-bg--hover;
        border-radius: 50%;
    }
}

.card-section-toggler--up .card-section-toggler-icon {
    transform: rotate(180deg);
}