.ms-TextField {
	width : 100%;
}

.ms-Dropdown-title {
	border  : none;
	padding : 6px 40px 0 0;
}

.ms-ContextualHost {
	left : 94px !important;
	top  : 8px  !important;
}

.ms-Panel-contentInner {
	margin  : 0;
	padding : 0;
}

.ms-MessageBar {
	width : 93.5%;
}