@import "./flex";
@import "./ms-overrides";
@import "./components/card_section";
@import "./components/decorated_text";
@import "./components/key_value";
@import "./components/icon_image";
@import "./components/image_button";
@import "./components/menu";
@import "./components/overlay";
@import "./components/spinner";
@import "./components/switch";
@import "./components/text_button";
@import "./components//text_input";
@import "./components/widget";

* {
	list-style-type: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

.disabled {
	pointer-events: none;
}

.pointer {
	cursor: pointer;
}

.CardHeader {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	min-height: 32px;
}

.headerIcon {
	width: 32px;
	height: 32px;
	margin-right: 16px;
}

.row {
	display: flex;
	align-items: center;
	margin: 12px 0;
	width: 100%;
	min-height: 20px;
}

.column {
	flex-grow: 1;
}

.column-icon {
	margin-right: 16px;
}

.column-label>.ImageButton {
	margin-right: 0;
}

.column-text {
	margin-right: 8px;
	flex-grow: 1;
	word-break: break-word;
}

.ButtonSet {
	margin: 0;
}

.collapsible>.ButtonSet {
	margin: 12px 0;
}

.SetElement {
	display: inline;
}

.ButtonSet .TextButton,
.ButtonSet .ImageButton {
	margin: 4px 16px 0 0;
}

.row+.TextButton {
	margin: 12px 0;
}

.ImageButton,
.TextButton {
	padding: 0;
	cursor: pointer;
}

.btn-filled {
	padding: 8px;
}

.btn-text {
	text-align: right;
	background: none;
	color: #0078d7;
}

.btn-text-filled {
	padding: 8px;
	color: white;
	background-color: #0078d7;
	border-radius: 2px;
}

.btn-disabled {
	pointer-events: none;
	color: #a6a6a6;
}

.separated,
.separated-both {
	border: solid #d0d0d0;
}

.separated {
	border-width: 1px 0 0 0;
}

.separated-bottom {
	border-width: 0 0 1px 0;
}

.separated-both {
	border-width: 1px 0 1px 0;
}

.collapsible {
	overflow-x: hidden;
	overflow-y: hidden;
}

.centered {
	text-align: center;
}

.toggler {
	margin-top: 16px;
	width: 100%;
	transform: rotate(0deg);
	transition: transform 0.2s;
	-moz-transition: transform 0.2s;
	-o-transition: transform 0.2s;
	-webkit-transition: transform 0.2s;
	transition-timing-function: linear;
	color: #848484;
}

.toggler-up {
	transform: rotate(180deg);
}

.Select {
	margin: 0 auto;
}

.menu,
.Select {
	width: 90%;
	background-color: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
	transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
	-webkit-transition: width 0.2s;
}

.singulared {
	width: 0;
	height: 0;
}

.menu-item,
.selectItem {
	width: 100%;
	transition: background-color;

	&:active {
		background-color: #e7e7e7;
	}

	&:hover {
		background-color: #f4f4f4;
	}
}

.menu-item-text,
.selectText {
	margin: 0;
	color: #333;
}

.selectText {
	margin-left: 8px;
}

.side i {
	padding: 27%;
}

.side i:hover {
	color: #d0d0d0;
}

.hidden {
	display: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}